/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS file within this directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the top of the
* compiled file, but it's generally better to create a new file per style scope.
*
*= require bootstrap
*= require metisMenu
*= require multiple-select
* require metisMenu.min
* require sb-admin-2
*= require sb-admin-2.min
*= require_self
*/

.user-check .form-group input[type="checkbox"] {
    display: none;
}

.user-check .form-group input[type="checkbox"] + .btn-group > label span {
    width: 20px;
}

.user-check .form-group input[type="checkbox"] + .btn-group > label span:first-child {
    display: none;
}
.user-check .form-group input[type="checkbox"] + .btn-group > label span:last-child {
    display: inline-block;
}

.user-check .form-group input[type="checkbox"]:checked + .btn-group > label span:first-child {
    display: inline-block;
}
.user-check .form-group input[type="checkbox"]:checked + .btn-group > label span:last-child {
    display: none;
}

.social:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
}
.social {
    -webkit-transform: scale(0.8);
    /* Browser Variations: */

    -moz-transform: scale(0.8);
    -o-transform: scale(0.8);
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
}

/*
    Multicoloured Hover Variations
*/

#social-gh:hover {
    color: #333;
}
